@using System.Xml
@model CRMProject.ViewModels.Admin.TaskListViewModel


@using (Html.BeginForm("TaskSelect", "Task", new { Area = String.Empty }, FormMethod.Post,new { id = "#taskList" }))
{


    <label>Eklemek istediğinize emin misiniz?</label>
    <hr />
    <div class="form-group form-group-sm row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary pull-right margin-left10"><span class="fa fa-check"></span>&nbsp;&nbsp;Kaydet</button>
            <button class="btn btn-danger pull-right" type="button" data-dismiss="modal"><span class="fa fa-times"></span>&nbsp;&nbsp;İptal</button>
        </div>
    </div>
   
    <div class="clearfix"></div>
   
}