<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">New Requests</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th>Request</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Requestor Name</th>
                        <th>Department</th>
                        <th>Deadline</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>Call of Duty IV</td>
                        <td><span class="label label-success">Shipped</span></td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        
                        <td>Samsung Smart TV</td>
                        <td><span class="label label-warning">Pending</span></td>
                        <td>
                           
                        </td>
                    </tr>
                    <tr>
                        
                        <td>iPhone 6 Plus</td>
                        <td><span class="label label-danger">Delivered</span></td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        
                        <td>Samsung Smart TV</td>
                        <td><span class="label label-info">Processing</span></td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        
                        <td>Samsung Smart TV</td>
                        <td><span class="label label-warning">Pending</span></td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                       
                        <td>iPhone 6 Plus</td>
                        <td><span class="label label-danger">Delivered</span></td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                       
                        <td>Call of Duty IV</td>
                        <td><span class="label label-success">Shipped</span></td>
                        <td>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <div class="box-footer clearfix">
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">
            Add Request
        </button>
    </div>
    <!-- /.box-body -->
    <!-- /.box-footer -->
</div>