@model CRMProject.ViewModels.Admin.ProblemViewModel
<div class="form-group">
    @Html.LabelFor(x => x.Name )
    @Html.TextBoxFor(x=>x.Name,new { @class = "form-control" })) 
                       
</div>
